.btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
}
button {
  border-radius: 10px;
  width: 30px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: rgb(90, 90, 92);
  color: white;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(40, 43, 42);
  width: 20rem;
  height: 27rem;
  border-radius: 9px;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 67, 67);
}
form {
  margin-top: 1rem;
}
.span2 {
  grid-column: span 2;
  width: 8.49rem;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  width: 15rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(199, 193, 193);
  color: rgb(5, 5, 5);
  text-align: right;
  outline: none;
}
.ac {
  background-color: rgb(236, 57, 57);
}
